/*media queries*/

@media only screen and (min-width: 768px) {

  /*-------------------------------------------------------------------------------------------------
  General
  -------------------------------------------------------------------------------------------------*/
  * {
  	font-family:Arial;
  	font-size: 12px;
  	/*color:#333;*/
  }

  h1 {	
  	text-align:left;
  	font-size:30px;
    color: #49afcc;
  	margin-top:25px;
  	margin-bottom:25px;
  }

  .pendant {
    margin-top: 30px;

  }
  h2 {
  	font-size:15px;
    color: #49afcc;
  	margin-top:30px;
  	margin-bottom:5px;
  }
  .intro-para {
    font-size:1.2em;
    color:#878787;
    line-height: 1.4em;
    letter-spacing: .8px;
  }

  small {
  	font-family:verdana;
  }

  h2:first-child {
  	margin-top:0px;
  }

  .clearfix {
  	clear:both;
  }

  .circular {
  	width: 100px;
  	height: 100px;
  	border-radius: 50px;
  	-webkit-border-radius: 50px;
  	-moz-border-radius: 50px;
  }

  input[type=text] {
    font-family:Arial;
    font-size: 12px;
    /*color:#333;*/
  }

  /*-------------------------------------------------------------------------------------------------
  Buttons
  -------------------------------------------------------------------------------------------------*/
  button, 
  input[type=button] {
    background-color: #7fbf4d;
    background: -webkit-gradient(linear, left to top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background: -webkit-linear-gradient(to bottom, #7fbf4d, #63a62f);
    background: -moz-linear-gradient(to bottom, #7fbf4d, #63a62f);
    background: -ms-linear-gradient(to bottom, #7fbf4d, #63a62f);
    background: -o-linear-gradient(to bottom, #7fbf4d, #63a62f);
    background: linear-gradient(to bottom, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 6px 0 6px 0;
    position:relative;
    top:-1px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 100px;
  }

  button,
  input[type=button]:hover {
      background-color: #76b347;
      background: -webkit-gradient(linear, left to bottom, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
      background: -webkit-linear-gradient(to bottom, #76b347, #5e9e2e);
      background: -moz-linear-gradient(to bottom, #76b347, #5e9e2e);
      background: -ms-linear-gradient(to bottom, #76b347, #5e9e2e);
      background: -o-linear-gradient(to bottom, #76b347, #5e9e2e);
      background: linear-gradient(to bottom, #76b347, #5e9e2e);
      -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
      box-shadow: inset 0 1px 0 0 #8dbf67;
      cursor: pointer; 
  }

  button,
  input[type=button]:active {
      border: 1px solid #5b992b;
      border-bottom: 1px solid #538c27;
      -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
  }

  /*-------------------------------------------------------------------------------------------------
  Layout
  -------------------------------------------------------------------------------------------------*/
  .wrapper {
  	width:768px;
  	margin:0px auto;
  }

  /* Left column */
  #controls {
  	width:350px;
  	margin-right:40px;
  	float:left;
  }

  /* Right column */
  #preview {
  	/*width:400px;*/
  	width:330px;
  	float:left;
  	text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /*-------------------------------------------------------------------------------------------------
  Output left side background
  -------------------------------------------------------------------------------------------------*/
  #output {
    display: inline;
    color:#49afcc;
  }

  /*-------------------------------------------------------------------------------------------------
  Output right side background
  -------------------------------------------------------------------------------------------------*/
  #preview-background {

  	/*border: solid 2px blue;*/
  	height:500px;
  	width:340px;
  	margin:0px auto;
  }

  #canvas {
    background-image:url(/build-a-pendant/images/preview-background.jpg);
  	/*opacity: 0.2; filter: alpha(opacity=50);
    background-repeat:no-repeat;  border: solid 2px red;*/
    width:338px;
    height:469px;
    position:relative;
    z-index:0;
    overflow:hidden;
  }
  #pendant-container {
  	position: absolute;
  	width:165px;
  	height:150px;
  	top: 320px;
  	display: table;
  	left: 80px;
  }
  #pendant {
    position: relative;
    z-index: 5;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
  }
  #message-window {
  	position: absolute;
  	width:165px;
  	height:150px;
  	top: 320px;
  	display: table;
  	text-align: center;
  	left: 80px;
  }
  #chain-cost-output {
  	font-size: 12px;
  }
  footer {
    font-family: 'PT Serif', serif;
    color: #e4e4e4;
    height: 50px;
    font-style: italic;
    text-align: center;
    vertical-align: -50px;
    font-size: 14px;
    background: #49afcc;
    padding: 0 10px 10px 10px;
    clear:both;
  }

  #mySpan {
    padding-top: 12px;
  }


  /*-------------------------------------------------------------------------------------------------
  CENTER an image: explicitly tell the browser that the image is a block element. Then you can 
  center it as you would a block. 

  Place the elements to be centered inside a containing element, such as a DIV.
  Set a minimum height on the containing element.
  Declare that that containing element is a table cell.
  Set the vertical alignment to "middle".
  <img src="blwebcam-sample.jpg" alt="Suni" class="center" />
  -------------------------------------------------------------------------------------------------*/
  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*-------------------------------------------------------------------------------------------------
  The proper way center blocks with CSS is to set both the left and right margins to "auto". As long 
  as your block has a defined width, it will center itself inside the containing element. But any 
  text that is contained in the block will not be centered.
  -------------------------------------------------------------------------------------------------*/
  div.center {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }
  /*-------------------------------------------------------------------------------------------------
  This is how the W3C recommends you center text vertically until CSS 3 support is available.
  thttp://webdesign.about.com/od/beginningcss/a/aa012207.htm
  -------------------------------------------------------------------------------------------------*/
  .vcenter {
    min-height: 12em;
    display: table-cell;
    vertical-align: middle;
  }

  /*-------------------------------------------------------------------------------------------------
  Radio Buttons
  -------------------------------------------------------------------------------------------------*/
  /*.radioLeft input{
      text-align: left;
      display:inline;
  }*/
  /*label {  
      display: inline-block;  
      cursor: pointer;  
      position: relative;  
      padding-left: 25px;  
      margin-right: 15px;  
      font-size: 13px;  
  }  

  input[type=radio]{
      display: inline;  
      cursor: pointer; 
      float:left; 



  }*/
  /*label {  
      display: inline-block;  
      cursor: pointer;  
      position: relative;  
      padding-left: 25px;  
      margin-right: 15px;  
      font-size: 13px;  
  }  
  label:before {  
      content: "";  
      display: inline-block;  
    
      width: 16px;  
      height: 16px;  
    
      margin-right: 10px;  
      position: absolute;  
      left: 0;  
      bottombottom: 1px;  
      background-color: #aaa;  
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
  }  
  .radio label:before {  
      border-radius: 8px;  
  } 
  input[type="radio"] {
      background-color: #ddd;
      background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                        -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
      border-radius: 10px;
      box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                  0 0 0 1px hsla(0,0%,0%,.6),
                  0 2px 3px hsla(0,0%,0%,.6),
                  0 4px 3px hsla(0,0%,0%,.4),
                  0 6px 6px hsla(0,0%,0%,.2),
                  0 10px 6px hsla(0,0%,0%,.2);
      cursor: pointer;
      display: inline-block;
      height: 15px;
      margin-right: 15px;
      position: relative;
      width: 15px;
      -webkit-appearance: none;
  }
  input[type="radio"]:after {
      background-color: #444;
      border-radius: 25px;
      box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                  0 1px 1px hsla(0,0%,100%,.8);
      content: '';
      display: block;
      height: 7px;
      left: 4px;
      position: relative;
      top: 4px;
      width: 7px;
  }
  input[type="radio"]:checked:after {
      background-color: #f66;
      box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                  inset 0 2px 2px hsla(0,0%,100%,.4),
                  0 1px 1px hsla(0,0%,100%,.8),
                  0 0 2px 2px hsla(0,70%,70%,.4);
  }*/ 

}
